html, body {
  height: 100vh;
  width: 100vh;
}

.select-sector {
  width: 400px;
  height: 100vh;
  box-shadow: 4px 0 8px -4px rgba(0, 0, 0, 0.2);
}

.block {
  width: 250px; 
  height: 150px;
  border-radius: 100px/50px;
  /* background: -webkit-linear-gradient(45deg, rgb(154, 167, 207), rgb(24, 35, 36));
  background: -moz-linear-gradient(45deg, rgb(154, 167, 207), rgb(24, 35, 36));
  background: linear-gradient(45deg, rgb(154, 167, 207), rgb(24, 35, 36)); */
  background: linear-gradient(135deg, #78A8D4 0%, #927ED5 35%, #B86BD8 70%, #D14ED6 100%);
}
