html, body {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
}

.block-input {
  border: 0;
  outline: 0;
  color: rgb(60, 66, 87);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(60, 66, 87, 0.16);
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  position: absolute;
  vertical-align: middle;
  transition: background-color .24s, box-shadow .24s;
}

.button {
  background: #fff;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(60, 66, 87, 0.16);
  color: rgb(60, 66, 87);
  font-weight: bold;
  padding: 4px 10px;
  position: absolute;
  transition: all 0.2s;
}

.button[disabled] {
  opacity: 0.5;
}

.select-sector {
  width: 400px;
  box-shadow: 4px 0 8px -4px rgba(0, 0, 0, 0.2);
}

.program-sector {
  display: flex;
  position: relative;
  width: 1000px;
  height: 1000px;
  box-shadow: 4px 0 8px -4px rgba(0, 0, 0, 0.2);
}

.block {
  width: 250px; 
  height: 150px;
  border-radius: 100px/50px;
  background: linear-gradient(135deg, #78A8D4 0%, #927ED5 35%, #B86BD8 70%, #D14ED6 100%);
}

